## MLAG-SW1 ########################################
username admin privilege 15 secret null0labs
enable password null0labs

vrf instance MGMT
interface Management1
   vrf MGMT
   ip address 192.168.51.101/24
   no shut

ip routing vrf MGMT
ip route vrf MGMT 0.0.0.0/0 192.168.51.254
exit
wr

## MLAG-SW2 ########################################
username admin privilege 15 secret null0labs
enable password null0labs

vrf instance MGMT
interface Management1
   vrf MGMT
   ip address 192.168.51.102/24
   no shut

ip routing vrf MGMT
ip route vrf MGMT 0.0.0.0/0 192.168.51.254
exit
wr

## NAD-SW1 ########################################
username admin privilege 15 secret null0labs
enable password null0labs

vrf instance MGMT
interface Management1
   vrf MGMT
   ip address 192.168.51.10/24
   no shut

ip routing vrf MGMT
ip route vrf MGMT 0.0.0.0/0 192.168.51.254
exit
wr

## NAD-SW2 ########################################
username admin privilege 15 secret null0labs
enable password null0labs

vrf instance MGMT
interface Management1
   vrf MGMT
   ip address 192.168.51.20/24
   no shut

ip routing vrf MGMT
ip route vrf MGMT 0.0.0.0/0 192.168.51.254
exit
wr

## NAD-SW3 ########################################
username admin privilege 15 secret null0labs
enable password null0labs

vrf instance MGMT
interface Management1
   vrf MGMT
   ip address 192.168.51.30/24
   no shut

ip routing vrf MGMT
ip route vrf MGMT 0.0.0.0/0 192.168.51.254
exit
wr