{% for interface in mlag_interfaces %}
{% for member in interface.members %}
interface {{ member }}
 description PORT-CHANNEL{{interface.channel_group_id}} MEMBER
 channel-group {{ interface.channel_group_id }} mode {{interface.mode}}
 no shutdown
 exit
{% endfor %}

interface Port-Channel{{interface.channel_group_id}}
 description MLAG {{interface.mlag_id}}
{%if interface.port_mode == 'trunk' %}
 switchport mode trunk
{% else %}
 switchport mode access
{% endif %}
 mlag {{interface.mlag_id}}
 no shutdown
 exit

{% endfor %}